/*@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
       url("./fonts/Inter-Regular.woff?v=3.15") format("woff");
}

@font-face{
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2") format("woff2"),
         url("./fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/Inter-Black.woff2?v=3.15") format("woff2"),
       url("./fonts/Inter-Black.woff?v=3.15") format("woff");
}

.root{
  font-family: Inter;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/*.page{
  padding: 28px 0 24px;
  box-sizing: border-box;
  width: 100%;
  background-color: #2A2C2F;
}

.header{
  margin: 0 48px 56px;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
}

.header__logo{
  width: 176px;
  height: 52px;
}

.header__lang-links{
  margin-bottom: 3px; /*для пиксель перфекта*/
/*}

.header__lang-link{
  font-weight: normal;
  margin-right: 15px; /*для пиксель перфекта, в макете 18px*/
/*  color:#FFF;
  font-size: 24px;
  line-height: 1.17;
}

.header__lang-link:last-child{
  text-decoration: none;
  margin-right: 0;
}

.lead{
  margin: 0 calc(48px + (148 - 48) *(100vw - 1024px)/(1280 - 1024));
}

.lead__title{
  margin:0 auto 32px;
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  color: #FFF;
}

.lead__subtitle{
  margin:32px auto 64px;
  max-width: 640px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #FFF;
}

.lead__image{
  width: 100%;
}

.lead__caption{
  margin:8px 0 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFF;
}

.intro{
  margin-left:calc(48px + (148 - 48) *(100vw - 1024px)/(1280 - 1024));
}

.intro__title{
  margin: 92px 0 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
}

.intro__text{
  margin:0 0 33px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  color: #FFFFFF;
  max-width: 690px;
}

.intro__list{
  margin:0;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  padding-left: 0;
  list-style-type: none;
}

.photo-grid{
  display: grid;
  margin: 92px 48px;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  grid-gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

.place{
  margin:0 calc(48px + (148 - 48) *(100vw - 1024px)/(1280 - 1024)) 80px;
  display: grid;
  column-gap: 40px;
  grid-template-areas:
  "title website"
  "image paragraph-1"
  "image paragraph-2"
  "image .";
}

.place__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
  grid-area: title;
  width:calc(440px + (460 - 440) *(100vw - 1024px)/(1280 - 1024));
  /*width: 460px;*/
  /* align-self: end;
  justify-self: start;
  margin:0;

}

.place__image{
  margin-top: 48px;
  width:calc(440px + (460 - 440) *(100vw - 1024px)/(1280 - 1024));
  /*width: 460px;*/
/*  grid-area: image;
}

.place__website{
  grid-area: website;
  align-self: end;
  justify-self: start;
}

.place__website__url-heading{
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0 0 12px;
  text-transform: uppercase;
}

.place__website__link{
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
}

.place__website__link:hover{
  cursor:pointer;
}


.place__paragraph{
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  margin: 48px 0 0;
}

.place__paragraph_first-row{
  grid-area: paragraph-1;
}

.place__paragraph_second-row{
  grid-area: paragraph-2;
  margin-top: 28px;  /*для пиксель перфекта, в макете 26px*/
/*}

.place:last-child{
  margin-bottom: 92px;
}

.cover{
  margin:92px 48px 92px;
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  padding: 245px 0;
}

.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  margin:auto;
  max-width: 560px;
  position: relative;

}

.cover__subtitle{
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin:38px auto 0;
  max-width: 380px;
  position: relative;
}

.cover::before{
  content:'';
  position: absolute;
  background-color: #2A2C2F;
  opacity:0.3;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;

}
.cover:hover::before{
  opacity: 0.8;
  cursor: pointer;
}

.footer{
  margin:0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__links{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.footer__item{
  margin-right: 19px;  /*для пиксель перфекта, в макете 18px*/
/*}
.footer__item:last-child{
  margin-right: 0;
}

.footer__link{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__copyright{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width:1024px){

  .header{
    margin-bottom: 48px;
  }
  .lead{
    margin-right:48px;
    margin-left: 48px;
  }

  .lead__subtitle{
    margin-bottom: 56px;
  }

  .intro{
    margin-left:48px;
  }

  .place{

    margin-left:48px;
    margin-right: 48px;
    column-gap: 32px;
}
  .cover{
    margin-left: 0;
    margin-right: 0;
    padding: 195px 0;
  }

  .place__paragraph{
    font-size:calc(16px + (18 - 16) *(100vw - 768px)/(1024 - 768));
  }

  .place__image{
    width:calc(340px + (440 - 340) *(100vw - 768px)/(1024 - 768));
  }

  .place__title{
    max-width:calc(340px + (440 - 340) *(100vw - 768px)/(1024 - 768));
  }

  .photo-grid{
    grid-gap:14px;
  }
}

@media screen and (max-width: 768px){
  .header{
    margin-left:24px;
    margin-right: 24px;
  }

  .lead{
    margin-right: 0;
    margin-left: 0;
  }

  .lead__title{

  font-size:calc(40px + (96 - 40) *(100vw - 320px)/( 768 - 320));
  }

  .intro{
    margin-left: 24px;
    margin-right: 24px;
  }

  .intro__text{
    max-width: 100%;
    margin-bottom: 35px;  /*для пиксель перфекта, в макете 33px*/
/*  }

  .intro__title{
    margin-top: 88px;
  }

  .photo-grid{
    margin:88px 24px 98px; /*margin-bottom для пиксель перфекта, в макете 88px*/
 /*   grid-gap:14px;
  }

  .place{
    margin-bottom: 78px;
    margin-left:24px;
    margin-right: 24px;
    column-gap: 28px;
  }

  .place:first-child .place__title{
    max-width: 320px;
  }

  .place__title{
    max-width: 340px;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
  }

  .place__paragraph{
    font-size: 16px;
    line-height: 1.63;
  }

  .place__paragraph_second-row{
    margin-top: 25px;
  }

  .cover{
    margin:90px 0 88px;
    padding: 115px 0;
  }

  .cover__title{
    font-size:calc(32px + (72 - 32) *(100vw - 320px)/( 768 - 320));
  }

  .cover__subtitle{
    margin-top: 32px;
  }

  .footer{
    margin: 0 24px 0px;
  }

  .lead__caption{
    margin-left: 24px;
  }

}

@media screen and (max-width: 765px){

.place{
  margin-left:24px;
  margin-right: 24px;
  column-gap: 28px;
  justify-items: center;
  grid-template-areas:
  "title"
  "image"
  "paragraph-1"
  "paragraph-2";
}

.place__title{
  text-align: center;
  margin:auto;
  width:calc(288px + (340 - 288) *(100vw - 320px)/(768 - 320));
  font-size:calc(32px + (42 - 32) *(100vw - 320px)/(768 - 320));
}

.place__image{
    width:calc(320px + (340 - 320) *(100vw - 320px)/(768 - 320));
  }
  .place__website{
    opacity: 0;
    position: absolute;
  }
}





@media screen and (max-width:320px){
  .page{
    padding: 16px 0;
  }

  .header{
    margin:0 16px 48px;
  }

  .header__logo{
    max-width: 142px;
    max-height: 42px;
  }

  .header__lang-link{
    font-size: 18px;
    line-height: 1.11;
  }

  .lead{
    margin: 0 2px;
  }

  .lead__title{
    margin:0 auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle{
    margin:16px auto 40px;
    max-width: 290px;
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__caption{
    margin-left: 16px;
  }

  .intro{
    margin-right: 16px;
    margin-left: 16px;
  }

  .intro__title{
    max-width: 250px;
    margin-top:64px;
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__text{
    line-height: 1.63;
    max-width: 288px;
    margin-bottom: 42px; /*по макету 34*/
/*  }

  .photo-grid{
    margin: 64px 16px 0;
    grid-gap: 12px;
  }

  .places{
    padding-top:64px;
  }
  .place{
    margin: 0 0 49px;
    column-gap: 0;
    justify-items: start;
  }

  .place__paragraph{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.63;
    margin: 0 16px 25px;
  }

  .place:last-child{
    margin-bottom:0;
  }

  .place__title{
    text-align:start;
    margin: 0 16px 32px;
    font-size: calc(5px + (32 - 5)*(100vw - 100px)/(320 - 100));
    line-height: 1.09;
  }

  .place__image{
    width:calc(150px + (320 - 150)*(100vw - 100px)/(320 - 100));
    margin-bottom: 32px;
    margin-top: 0;

  }

  .place__paragraph{
    margin: 0 16px 25px;
  }

   .place__paragraph_second-row{
    margin-bottom: 0;
  }

  .place:last-child .place__paragraph_first-row{
    margin-bottom:0;
  }


  .cover{
    margin:66px 0 64px;
    padding: 33px 0;
  }

  .cover__title{
    line-height: 1.09;
    max-width: 288px;

  }

  .cover__subtitle{
    font-size: 14px;
    line-height: 1.14;
    margin-top:16px;
    max-width: 288px;
  }

  .footer{
    margin-left:16px;
    margin-right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__links{
    flex-direction: column;
    align-items: flex-start;

    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }

  .footer__item{
    margin-bottom: 32px;
  }
  .footer__item:last-child{
    margin-bottom: 48px;
  }

  .footer__link{
    font-size: 24px;
    line-height: 1;
  }

  .footer__copyright{
    line-height: 1;
    margin-bottom: 0;
  }


}
