.place__image{
  margin: 48px 0 0;
  width:calc(440px + (460 - 440) *(100vw - 1024px)/(1280 - 1024));
  /*width: 460px;*/
  grid-area: image;
}

@media screen and (max-width:1024px){
  .place__image{
    width:calc(340px + (440 - 340) *(100vw - 768px)/(1024 - 768));
  }
}


@media screen and (max-width: 765px){
.place__image{
    width:calc(320px + (340 - 320) *(100vw - 320px)/(768 - 320));
  }
}

@media screen and (max-width:450px){
  .place__image{
    width:100%;
    margin-bottom: 32px;
    margin-top: 0;
  }
}

