.lead{
  margin: 0 calc(48px + (148 - 48) *(100vw - 1024px)/(1280 - 1024));
}

@media screen and (max-width:1024px){
  .lead{
    margin-right:48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px){
  .lead{
    margin-right: 0;
    margin-left: 0;
  }
}
