.lead{
  max-width: 1184px;
  padding: 0 148px;
}

@media screen and (min-width:1281px)
{
  .lead{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:1024px){
  .lead{
    padding-right:48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px){
  .lead{
    padding-right: 0;
    padding-left: 0;
  }
}
