.place__website__link{
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
}

.place__website__link:hover{
  cursor:pointer;
}
