.header{
  max-width: 1184px;
  padding:0 48px;
  margin: 0 0 56px;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
}

@media screen and (min-width:1281px)
{
  .header{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:1024px){

  .header{
    margin-bottom: 48px;
  }
}

@media screen and (max-width:768px){
  .header{
    padding-left:24px;
    padding-right: 24px;
  }
}


@media screen and (max-width:320px){
  .header{
    margin:0 0 48px;
    padding: 0 16px;
  }
}
