.overlay{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  padding:199px 98px 0 83px;
}

.overlay_active{
  display: flex;
}

@media screen and (max-width:768px){
  .overlay{
    padding-top: 50px;
  }
}
