.footer__links{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width:450px){
  .footer__links{
    flex-direction: column;
    align-items: flex-start;
  }
}
