.place__paragraph{
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  margin: 48px 0 0;
}

.place__paragraph:nth-child(2n+1){
  margin-top: 28px;  /*для пиксель перфекта, в макете 26px*/
}

@media screen and (max-width:1024px){
  .place__paragraph{
    font-size:calc(16px + (18 - 16) *(100vw - 768px)/(1024 - 768));
  }
}

@media screen and (max-width: 768px){
  .place__paragraph:nth-child(2){
    margin-top: 25px;
  }
}

@media screen and (max-width:450px){
  .place:last-child .place__paragraph:first-child{
    margin-bottom:0;
  }

  .place__paragraph:nth-child(2){
    margin-bottom: 0;
  }
}

@media screen and (max-width:320px){
  .place__paragraph{
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 16px 25px;
  }

  .place__paragraph:nth-child(2n+1){
    margin-top: 0;
    margin-bottom:0;  /*для пиксель перфекта, в макете 26px*/
  }
}



