.footer__copyright{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width:450px){
  .footer__copyright{
    line-height: 1;
  }
}
