.cover{
  margin:92px 48px 92px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  padding: 245px 0;
}

.cover::before{
  content:'';
  position: absolute;
  background-color: #2A2C2F;
  opacity:0.3;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;

}
.cover:hover::before{
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width:1024px){
  .cover{
    margin-left: 0;
    margin-right: 0;
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px){
  .cover{
    margin:90px 0 88px;
    padding: 115px 0;
  }
}

@media screen and (max-width:320px){
  .cover{
    margin:66px 0 64px;
    padding: 33px 0;
  }
}

