.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  margin:auto;
  max-width: 560px;
  position: relative;
}

@media screen and (max-width: 769px){
  .cover__title{
    font-size:calc(32px + (72 - 32) *(100vw - 320px)/( 768 - 320));
    max-width:calc(250px + (560 - 250) *(100vw - 320px)/( 768 - 320));
  }
}
