.overlay__popup{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  max-width: 1099px;
  padding:113px 102px 106px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

@media screen and (max-width:768px){
  .overlay__popup{
    padding: 50px;
  }
}

@media screen and (max-width:459px){
  .overlay__popup{
    padding: 25px;
  }
}
